@font-face {
  font-family: "Proxima Nova Bl";
  src: url("../fonts/ProximaNova-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Th";
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Lt";
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
